<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">POT</div>
  </div>
</div>

<div class="header-container">
  <nb-actions
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'"
    size="large">
    <nb-action class="control-item" icon="nb-compose" (click)="goToUploadImage()"></nb-action>
  </nb-actions>
</div>
