<div class="modal-header">
  <span> Choose an image </span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
     <div class="col-sm-6">
        <p>First div</p>
     </div>
     <div class="col-sm-6">
        <p>Second div</p>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="closeModal()">Save changes</button>
</div>