<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-lg-12">
        <p>Trash Collection between: </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <span>Start Date: </span>
        <select #selectedStartDate (change)="changeCompare()">
          <option value="" disabled selected>Select a date</option>
          <option *ngFor="let date of dates" [value]="date" [disabled]="selectedEndDate.value && selectedEndDate.value <= date">{{epochTimeToDate(date)}}</option>
        </select>
      </div>
      <div class="col-sm-6">
        <span>End Date: </span>
        <select #selectedEndDate (change)="changeCompare()">
          <option value="" disabled selected>Select a date</option>
          <option *ngFor="let date of dates" [value]="date" [disabled]="selectedStartDate.value && selectedStartDate.value >= date">{{epochTimeToDate(date)}}</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <span>Location: </span>
        <ng-multiselect-dropdown [placeholder]="'Select locations'" [data]="locationDropdownList" [(ngModel)]="selectedLocations" [settings]="dropdownSettings"
          (onSelect)="onFilterChanged()" (onSelectAll)="onLocationSelectAll()" (onDeSelectAll)="onLocationDeSelectAll()" (onDeSelect)="onFilterChanged()">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-sm-6">
        <span>Trash Type: </span>
        <ng-multiselect-dropdown [placeholder]="'Select wastes'" [data]="wasteDropdownList" [(ngModel)]="selectedWastes" [settings]="dropdownSettings"
          (onSelect)="onFilterChanged()" (onSelectAll)="onWasteSelectAll()" (onDeSelectAll)="onWasteDeSelectAll()" (onDeSelect)="onFilterChanged()">
        </ng-multiselect-dropdown>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body>
    <ngx-echarts-line *ngIf="formattedSeriesData && timeData && legends" [seriesData]="formattedSeriesData" [timeData]="timeData"
      [legendData]="legends"></ngx-echarts-line>
  </nb-card-body>
</nb-card>