<div class="card-columns">
  <div class="">
    <nb-card>
      <nb-card-header>
        Add New Location
      </nb-card-header>
      <nb-card-body>
        <form enctype='multipart/form-data'>
          <div class="row">
            <div class="input-group col-sm-12">
              <input #newLocationBox type="text" class="form-control" placeholder="New Location">
              <span class="input-group-append">
                <button class="btn btn-success input-group-text" (click)="addNewLocation(newLocationBox.value)">
                  Add
                </button>
              </span>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <ng-container *ngFor="let action of actions">
    <div class="">
      <nb-card>
        <nb-card-header>
          {{ action.location }}
        </nb-card-header>
        <nb-card-body>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Action Item</th>
                <th scope="col">Date Initiated</th>
                <th scope="col">Completed</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let actionItem of action.actions">
                <tr>
                  <td>{{ actionItem.action }}</td>
                  <td>{{ epochTimeToDate(actionItem.timestamp) }}</td>
                  <td>
                    <input *ngIf="actionItem.completed" type="checkbox" checked (change)="updateCompletedStatus(actionItem.id)" />
                    <input *ngIf="!actionItem.completed" type="checkbox" (change)="updateCompletedStatus(actionItem.id)" />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </nb-card-body>
        <nb-card-footer>
          <div class="row">
            <div class="input-group col-sm-12">
              <input #newActionBox type="text" class="form-control" placeholder="New Action">
              <span class="input-group-append">
                <button class="btn btn-success input-group-text" (click)="addNewAction(action.location, newActionBox.value)">
                  Add
                </button>
              </span>
            </div>
          </div>
        </nb-card-footer>

      </nb-card>
    </div>
  </ng-container>
</div>